body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

a {
  list-style: none;
}

.header {
  background-color: #664a4a;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.header-list a {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
  background-color: #f5b2b2;
}

.copy-container h1 {
  font-size: 80px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #332525;
}

.contents {
  height: 500px;
  margin-top: 100px;
  
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
    margin-bottom: 50px;
  
}

.contents-item {
  float: left;
  margin-right: 40px;
  
}

.contents-member {
  font-size: 3rem;
}


.contents-item p{
  font-size: 0.5rem;
}



.footer {
  background-color: #cc9595;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: left;
}

.footer-list li {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  
}

画像
同じ階層imgタグで書く
floatで並べる

％
rem
フォント

フレーム